<div class="row feature-section">
  <div class="small-12 columns">
    <h1 id="tagline">A party scene for your next event.</h1>
    <h3>Serving Los Angeles county, San Bernardino county, Orange county</h3>
  </div>
</div>

<div class="picture-section">
  <div class="row">
    <div class="small-8 small-centered columns">
      <h2 id="phone-number"><a href="tel:800-867-5309">800-867-5309</a></h2>
    </div>
  </div>
  <div class="row">
    <div class="small-11 small-centered medium-7 columns">
      <div class="featured-images">
        <div>
          <%= image_tag("photo_1.jpg") %>
        </div>
        <div>
          <%= image_tag("photo_2.jpg") %>
        </div>
        <div>
          <%= image_tag("photo_3.jpg") %>
        </div>
        <div>
          <%= image_tag("photo_4.jpg") %>
        </div>
        <div>
          <%= image_tag("photo_5.jpg") %>
        </div>
      </div>
   </div>
  </div>
</div>